{% extends 'base.html' %}
{% load bootstrap %}
{% block main %}

<h3>Funcionario {{ object }}</h3>
    <div class="row">
        <div class="col-sm">
            <div class="row">
                <form method="post">
                    {% csrf_token %}
                    {{ form|bootstrap }}

                    <button type="submit"  class="btn btn-success">Salvar</button>
                    {% if object %}
                        <a href="{% url 'create_documento' object.id %}" class="btn btn-primary">Adicionar Documento</a>
                    {% endif %}
                </form>


                <h3>Lista de Documentos do Funcionário</h3>
                {% if not object.documento_set.all %}
                    <h3>Não existem documentos cadastrados.</h3>
                {% endif %}
                    {% for documento in object.documento_set.all %}
                        <a href="{{ documento.arquivo.url }}"> {{ documento }} </a> <br>
                    {% endfor %}

            </div>
        </div>

    </div>

{% endblock %}